@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Black.eot');
    src: local('☺'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype'), url('assets/fonts/Lato-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Bold.eot');
    src: local('☺'), url('assets/fonts/Lato-Bold.woff') format('woff'), url('assets/fonts/Lato-Bold.ttf') format('truetype'), url('assets/fonts/Lato-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Light.eot');
    src: local('☺'), url('assets/fonts/Lato-Light.woff') format('woff'), url('assets/fonts/Lato-Light.ttf') format('truetype'), url('assets/fonts/Lato-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.eot');
    src: local('☺'), url('assets/fonts/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular.ttf') format('truetype'), url('assets/fonts/Lato-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('assets/fonts/fontello.eot?11696308');
    src: url('assets/fonts/fontello.eot?11696308#iefix') format('embedded-opentype'), url('assets/fonts/fontello.woff?11696308') format('woff'), url('assets/fonts/fontello.ttf?11696308') format('truetype'), url('assets/fonts/fontello.svg?11696308#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

* {
    box-sizing: border-box;
}

img {
    border: none;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
}

body {
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    margin: 0 0 21px 0;
}

h3 {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 1.6;
}

h4 {
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
    margin: 0 0 10px 0;
}

p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    color: #767e9e;
}

.wrap {
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1020px;
    overflow: hidden;
}

.header__wrap {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}

.logo {
    width: 115px;
    height: 20px;
}

.header__wrap .logo a {
    margin: 5px 0 0px -1px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    line-height: 6.32px;
}

.logo a {
    display: block;
    height: 100%;
}

.logo a span {
    color: #f06c64;
}

.logo:hover {
    height: 20px;
}


/* ============================== */

.nav__list {
    margin: 4px 0 0 0;
    display: flex;
    list-style-type: none;
}

.nav__list li a {
    margin: 0;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.6px;
    line-height: 6.32px;
    color: #ffffff;
}

.nav__list li:before {
    font-family: 'fontello';
    content: "\e804";
    margin-right: 13px;
}

.nav__list li:first-child:before {
    font-family: 'fontello';
    content: "";
}

.nav__list li:first-child a {
    margin-left: 0px;
}

.nav__list li:last-child a {
    margin-right: 0px;
}

.nav__list .item {
    margin-left: 14px;
}

.nav__list .active {
    color: #f06c64;
}

.nav__list a:hover {
    color: #f06c64;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}


/* ================================ */

.main {
    margin: 0 auto;
    max-width: 1020px;
}

.main .slider {
    padding: 0 40px;
    display: flex;
    width: 100%;
    height: 600px;
    background-color: #f06c64;
}

.slider__prev {
    margin-bottom: 13px;
}

.slider__next {
    margin-bottom: 13px;
}

.slider__imgvertical {
    margin: 51px 0 0 56px;
    width: 243px;
    height: 486px;
}

.slider__imghorizontal {
    margin: 165px 55px 0 68px;
    width: 489px;
    height: 249px;
}

.main .services {
    border-bottom: 6px solid #ffffff;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}

.main .services .services__wrap {
    display: flex;
    flex-direction: column;
}

.main .services .services__wrap .services__wrap-items {
    margin: 44px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 62px 222px);
    grid-template-rows: 137px 137px;
    grid-column-gap: 17.8px;
    grid-row-gap: 0px;
}

.services__title h2 {
    margin: 69px 0 0 0;
    font-family: Lato, sans-serif;
    /* font-size: 30px;
    font-weight: 900; */
    line-height: 17.86px;
    letter-spacing: -0.1px;
    /* color: #666d89; */
}

.services__title p {
    margin: 27px 0 0 0;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.19px;
    word-spacing: 1.5px;
    color: #767e9e;
}

.services__img {
    margin: 1px 0 0 0;
}

.services__item h3 {
    margin: 0 0 0 1px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    color: #666d89;
}

.services__item p {
    width: 220px;
    text-align: justify;
    margin: 11px 0 0 0;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    word-spacing: 2px;
    letter-spacing: -0.2px;
    color: #767e9e;
}

.secondRow {
    margin-top: -13px;
}

.secondRowText {
    margin-top: -13px;
}